<div class="Content">
    <div class="loginContainer">
        <div class="text-center">
            <h3>Admin Login</h3>
        </div>
        <span><?php echo $Message; ?></span>
        <form action="adminLogin.php" method="post">
            <div class="container">
                <label>Username</label>
                <input type="text" placeholder="Enter Username" name="uiUsername">

                <label>Password</label>
                <input type="password" placeholder="Enter Password" name="uiPassword">

                <button type="submit" name="uiLogin">Login</button>

            </div>
        </form>
    </div>
</div>